<table class="tx-references" >
	<tr>
		<td>
			<f:translate key="tx_references_domain_model_references.title" />
		</td>
		<td>
			{references.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_references_domain_model_references.url" />
		</td>
		<td>
			{references.url}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_references_domain_model_references.description" />
		</td>
		<td>
			<!--{references.description}-->
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_references_domain_model_references.pic1" />
		</td>
		<td>
			{references.pic1}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_references_domain_model_references.pic2" />
		</td>
		<td>
			{references.pic2}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_references_domain_model_references.pic3" />
		</td>
		<td>
			{references.pic3}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_references_domain_model_references.services" />
		</td>
		<td>
			{references.services}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_references_domain_model_references.customer" />
		</td>
		<td>
			<!--{references.customer}-->
		</td>
	</tr>
</table>